<section id="hire-me">
  <div class="container" ngForm #contactForm="ngForm">
    <h2><i class="fa fa-briefcase"></i> Hire me</h2>
    <div *ngIf="!emailSent">
      <p>
        I am a highly experienced Javascript / Typescript developer, with an efficient work ethic, available for short to medium term remote contracting work.
      </p>

      <p>
        Things I can help you with:
      </p>
      <ul>
        <li>I can help with anything angular / angularjs related, including, but not limited to: migration strategies from angularjs to angular, high level architectural planning and performance optimisations. I have been using angularjs since version 1.0 was released in 2012.</li>
        <li>I am extremely proficient at building mobile apps with the ionic framework, and have shipped full blown apps from concept to production in just a few months.</li>
        <li>I have a very deep knowledge of build tooling, especially webpack, and have frequently contributed back to its ecosystem of plugins and loaders. I can fine tune configuration to optimise build times, reduce bundle sizes to as small as possible, and demystify the inner workings to members of your team.</li>
        <li>I have lots of experience configuring CI systems to automatically run tests on every build, and automatically deploy to beta and production environments.</li>
        <li>I am a firm believer in writing robust and maintainable code. All of the code I write follows industry best practises, and is well tested.</li>
        <li>I am extremely well versed in the Javascript language as a whole, aware of all of its strengths and weaknesses, and am up to date with using the latest esnext features. Consequently, I am very comfortable working on projects outside of the angular framework, such as in node or react.</li>
      </ul>
      <p>
        Finally, I am very comfortable working to tight time scales by leading and managing teams to get a project over the line to completion. On the flip side, I am also very happy to work independently, or with a team, for someone else with a "no-ego" attitude. I work remotely covering various time zones (initially GMT+7)
      </p>
      <div class="alert alert-danger" *ngIf="error">
        <i class="fa fa-exclamation-circle"></i>
        Oops, it looks like something's gone wrong: {{ error.message }}
      </div>
      <div class="row spacer-top">
        <div
          class="col-md-6"
          [ngClass]="{'has-error': !nameInput.valid && nameInput.dirty}">
          <label for="name" [hidden]="true">Your name</label>
          <input
            id="name"
            type="text"
            name="name"
            class="form-control input-lg"
            placeholder="Your name"
            required
            #nameInput="ngModel"
            [(ngModel)]="form.name">
          <br>
        </div>
        <div
          class="col-md-6"
          [ngClass]="{'has-error': !emailInput.valid && emailInput.touched}">
          <label for="email" [hidden]="true">Your email address</label>
          <input
            id="email"
            type="email"
            name="email"
            class="form-control input-lg"
            placeholder="Your email address"
            required
            #emailInput="ngModel"
            [(ngModel)]="form.email"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <br>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-4"
          [ngClass]="{'has-error': !companyWebsiteInput.valid && companyWebsiteInput.dirty}">
          <label for="name" [hidden]="true">Company website</label>
          <input
            id="companyWebsite"
            type="text"
            name="companyWebsite"
            class="form-control input-lg"
            placeholder="Company website"
            required
            #companyWebsiteInput="ngModel"
            [(ngModel)]="form.companyWebsite">
          <br>
        </div>
        <div
          class="col-md-4"
          [ngClass]="{'has-error': !contractLengthInput.valid && contractLengthInput.dirty}">
          <label for="contractLength" [hidden]="true">Contract length (in months)</label>
          <input
            id="contractLength"
            type="text"
            name="contractLength"
            class="form-control input-lg"
            placeholder="Contract length (in months)"
            required
            #contractLengthInput="ngModel"
            [(ngModel)]="form.contractLength">
          <br>
        </div>
        <div
          class="col-md-4"
          [ngClass]="{'has-error': !hourlyRateInput.valid && hourlyRateInput.dirty}">
          <label for="hourlyRate" [hidden]="true">Hourly rate (USD)</label>
          <input
            id="hourlyRate"
            type="text"
            name="hourlyRate"
            class="form-control input-lg"
            placeholder="Hourly rate (USD)"
            required
            #hourlyRateInput="ngModel"
            [(ngModel)]="form.hourlyRate">
          <br>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12"
          [ngClass]="{'has-error': !descriptionInput.valid && descriptionInput.dirty}">
          <label for="description" [hidden]="true">Please tell me a bit about the project and what you would require from me</label>
          <textarea
            id="description"
            name="description"
            class="form-control input-lg"
            placeholder="Please tell me a bit about the project and what you would require from me"
            required
            #descriptionInput="ngModel"
            [(ngModel)]="form.description"
            rows="5">
          </textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button
            type="button"
            class="btn btn-success btn-block btn-lg"
            [disabled]="!contactForm.valid || loading"
            (click)="sendEmail()">
            <i class="fa fa-spin fa-spinner" *ngIf="loading"></i> Send
          </button>
        </div>
      </div>
      <br>
    </div>
    <div class="alert alert-info" *ngIf="emailSent">
      <i class="fa fa-check"></i> Thanks for contacting me, I'll get back to you as soon as possible!
    </div>
  </div>
</section>
