<footer class="text-center">
  Website source available <a href="https://github.com/mattlewis92/api.mattlewis.me" target="_blank" rel="noopener">here</a> and <a href="https://github.com/mattlewis92/mattlewis.me" target="_blank" rel="noopener">here</a> |
  Powered by <a href="https://pages.github.com/" target="_blank" rel="noopener">GitHub pages</a>, <a href="https://heroku.com/" target="_blank" rel="noopener">Heroku</a> and <a href="https://www.cloudflare.com/" target="_blank" rel="noopener">Cloudflare</a>
</footer>