<section id="about" class="bg-success">
  <div class="container">
    <h2><i class="fa fa-info-circle"></i> About me</h2>

    <p>
      I am a hard working and self motivated full stack web developer with {{ yearsExperience }} years experience in everything related to JavaScript, specifically Angular and Node.js.
    </p>

    <p>
      I'm originally from the UK, but right now I travel the world whilst working remotely as a <a href="https://en.wikipedia.org/wiki/Digital_nomad" target="_blank">digital nomad</a>.
    </p>

  </div>
</section>
