<section id="about" class="bg-success">
  <div class="container">
    <h2><i class="fa fa-info-circle"></i> About me</h2>

    <p>
      I am a hard working and self motivated full stack web developer with {{ yearsExperience }} years experience, based in Birmingham, UK.
    </p>

    <p>
      My key skills are in JavaScript (Angular2, AngularJS and Node.js), HTML5, CSS3, PHP, MongoDB and MySQL.
      I've also developed several hybrid apps for iOS and Android using the Ionic framework.
      Additionally I am experienced in deploying and scaling linux servers for high traffic volume websites.
    </p>

  </div>
</section>