<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        (click)="isMenuVisible = !isMenuVisible">
        <i class="fa fa-bars fa-inverse"></i>
      </button>
      <a class="navbar-brand" href="/">Matt Lewis</a>
    </div>

    <div class="collapse navbar-collapse" [ngbCollapse]="!isMenuVisible">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about" pageScroll (click)="closeMenu()">
            <i class="fa fa-info-circle fa-lg fa-fw"></i> About me
          </a>
        </li>
        <li>
          <a href="#opensource" pageScroll (click)="closeMenu()">
            <i class="fa fa-code fa-lg fa-fw"></i> Open source
          </a>
        </li>
        <li>
          <a href="#mobileapps" pageScroll (click)="closeMenu()">
            <i class="fa fa-mobile fa-lg fa-fw"></i> Mobile apps
          </a>
        </li>
        <li>
          <a href="#contact" pageScroll (click)="closeMenu()">
            <i class="fa fa-pencil-square-o fa-lg fa-fw"></i> Contact me
          </a>
        </li>
        <li>
          <a href="#tweets" pageScroll (click)="closeMenu()">
            <i class="fa fa-twitter fa-lg fa-fw"></i> Tweets
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li tooltip="Email me" placement="bottom">
          <a
            rel="noopener"
            href="https://www.google.com/recaptcha/mailhide/d?k=01ciEon6qhPUtHkA2796MjHQ==&amp;c=ThGegkQW9KQ7Vs-mCVW7AgfavFhM0A417JovGr-JiHc="
            (click)="showEmailCaptcha(); $event.preventDefault()">
            <i class="fa fa-envelope-o fa-lg fa-fw"></i> <span class="visible-xs-inline">Email me</span>
          </a>
        </li>
        <li tooltip="Follow me on GitHub" placement="bottom">
          <a href="https://github.com/mattlewis92" target="_blank" rel="noopener">
            <i class="fa fa-github fa-lg fa-fw"></i> <span class="visible-xs-inline">Follow me on GitHub</span>
          </a>
        </li>
        <li tooltip="Connect with me on LinkedIn" placement="bottom">
          <a href="https://www.linkedin.com/in/mattlewis92" target="_blank" rel="noopener">
            <i class="fa fa-linkedin fa-lg fa-fw"></i> <span class="visible-xs-inline">Connect with me on LinkedIn</span>
          </a>
        </li>
        <li tooltip="Tweet me" placement="bottom">
          <a href="https://twitter.com/mattlewis92_" target="_blank" rel="noopener">
            <i class="fa fa-twitter fa-lg fa-fw"></i> <span class="visible-xs-inline">Tweet me</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>