<section id="contact">
  <div class="container" ngForm #contactForm="ngForm">
    <h2><i class="fa fa-pencil-square-o"></i> Contact me</h2>
    <div *ngIf="!emailSent">
      <p>For support with my open source projects, please use StackOverflow or file an issue on Github. Thanks!</p>
      <div class="alert alert-danger" *ngIf="error">
        <i class="fa fa-exclamation-circle"></i>
        Oops, it looks like something's gone wrong: {{ error.message }}
      </div>
      <div class="row">
        <div
          class="col-md-6"
          [ngClass]="{'has-error': !nameInput.valid && nameInput.dirty}">
          <label for="name" [hidden]="true">Your name</label>
          <input
            id="name"
            type="text"
            name="name"
            class="form-control input-lg"
            placeholder="Your name"
            required
            #nameInput="ngModel"
            [(ngModel)]="form.name">
          <br>
        </div>
        <div
          class="col-md-6"
          [ngClass]="{'has-error': !emailInput.valid && emailInput.touched}">
          <label for="email" [hidden]="true">Your email address</label>
          <input
            id="email"
            type="email"
            name="email"
            class="form-control input-lg"
            placeholder="Your email address"
            required
            #emailInput="ngModel"
            [(ngModel)]="form.email"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <br>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-12"
          [ngClass]="{'has-error': !messageInput.valid && messageInput.dirty}">
          <label for="message" [hidden]="true">Your message</label>
          <textarea
            id="message"
            name="message"
            class="form-control input-lg"
            placeholder="Your message"
            required
            #messageInput="ngModel"
            [(ngModel)]="form.message">
          </textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <button
            type="button"
            class="btn btn-success btn-block btn-lg"
            [disabled]="!contactForm.valid || loading"
            (click)="sendEmail()">
            <i class="fa fa-spin fa-spinner" *ngIf="loading"></i> Send
          </button>
        </div>
      </div>
      <br>
    </div>
    <div class="alert alert-info" *ngIf="emailSent">
      <i class="fa fa-check"></i> Thanks for contacting me, I'll get back to you as soon as possible!
    </div>
  </div>
</section>