<section id="tweets" class="bg-success">
  <div class="container">
    <h2><i class="fa fa-twitter"></i> Latest Tweets</h2>
    <div class="alert alert-danger" *ngIf="tweetLoadError">
      <i class="fa fa-exclamation-circle"></i>
      Oops, it looks like something went wrong whilst trying to load the tweets. Why not check out my <a href="https://twitter.com/mattlewis92_" target="_blank">Twitter feed</a> directly?
    </div>

    <ng-template #loading>
      <div class="text-center">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
        <h2>Loading...</h2>
        <br>
      </div>
    </ng-template>

    <div class="list-group" *ngIf="tweets$ | async; else loading; let tweets">
      <a
        *ngFor="let tweet of tweets | slice:0:15"
        href="https://twitter.com/{{ tweet.retweeted_status?.user?.screen_name || tweet.user.screen_name }}/status/{{ tweet.retweeted_status?.id_str || tweet.id_str }}"
        target="_blank"
        rel="noopener"
        class="list-group-item">
        <div class="media">
          <div class="media-left">
            <img
              class="img-rounded"
              [src]="tweet.retweeted_status?.user?.profile_image_url_https || tweet.user.profile_image_url_https"
              alt="Twitter avatar">
          </div>
          <div class="media-body">
            <h4 class="list-group-item-heading">
              {{ tweet.retweeted_status?.user?.name || tweet.user.name }}
              <small class="pull-right">{{ tweet.created_at | date:'MMM d' }}</small>
              <small class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline spacer-top">
                @{{ tweet.retweeted_status?.user?.screen_name || tweet.user.screen_name }}
              </small>
            </h4>
            <p class="list-group-item-text">
              <i class="fa fa-retweet" *ngIf="tweet.retweeted_status" tooltip="This was retweeted by Matt"></i>
              <span [innerHtml]="(tweet.retweeted_status?.full_text || tweet.full_text) | linkify:{target: '_blank', nl2br: true, attributes: {rel: 'noopener'}}"></span>
            </p>
          </div>
        </div>
      </a>
      <a href="https://twitter.com/mattlewis92_" target="_blank" rel="noopener" class="list-group-item text-center">
        <h4 class="list-group-item-heading spacer-top">View all on Twitter <i class="fa fa-external-link"></i></h4>
      </a>
    </div>
  </div>
</section>
