<section id="opensource" class="bg-success">
  <div class="container">
    <h2><i class="fa fa-code"></i> Open source</h2>
    <p>I contribute regularly to the open source community and strive to give back in whatever way I can.</p>
    <div class="row">
      <div class="col-md-4" *ngFor="let repo of repos$ | async">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">{{ repo.name }}</h3>
          </div>
          <div class="panel-body">
            <p class="description">{{ repo.description }}</p>
            <div class="text-center">
              <a
                [href]="repo.html_url"
                target="_blank"
                rel="noopener">
                <img
                  [src]="('https://img.shields.io/github/stars/mattlewis92/' + repo.name + '.svg?style=flat-square') | mwlTrustAsResourceUrl"
                  alt="NPM downloads">
              </a>
              <a
                [href]="'https://npm.im/' + repo.name"
                target="_blank"
                rel="noopener">
                <img
                  [src]="('https://img.shields.io/npm/dm/' + repo.name + '.svg?style=flat-square') | mwlTrustAsResourceUrl"
                  alt="Github stars">
              </a>
            </div>
          </div>
          <div class="panel-footer text-center">
            <a
              [href]="repo.html_url"
              target="_blank"
              rel="noopener"
              class="btn btn-sm btn-success">
              View on GitHub <i class="fa fa-external-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
