<html>
  <body ng-app="mwl.homepage">

    <section id="about" class="bg-success">
      <div class="container">
        <h2><i class="fa fa-info-circle"></i> About me</h2>

        <p>
          I am a hard working and self motivated full stack web developer with 8 years experience, based in Birmingham, UK.
        </p>

        <p>
          My key skills are in JavaScript (Angular2, AngularJS and Node.js), HTML5, CSS3, PHP, MongoDB and MySQL.
          I've also developed several hybrid apps for iOS and Android using the Ionic framework.
          Additionally I am experienced in deploying and scaling linux servers for high traffic volume websites.
        </p>

      </div>
    </section>
    <section id="opensource">
      <div class="container">
        <h2><i class="fa fa-code"></i> Open source</h2>
        <p>I contribute regularly to the open source community and strive to give back in whatever way I can.</p>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Angular bootstrap calendar</h3>
              </div>
              <div class="panel-body">
                <p>A pure AngularJS, bootstrap styled calendar widget that can be used to display calendar events on a year, month, week or day view.</p>
                <div class="text-center">
                  <iframe src="https://ghbtns.com/github-btn.html?user=mattlewis92&repo=angular-bootstrap-calendar&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </div>
              </div>
              <div class="panel-footer text-center">
                <a href="https://github.com/mattlewis92/angular-bootstrap-calendar"
                   target="_blank"
                   class="btn btn-sm btn-success">
                  View on GitHub <i class="fa fa-external-link"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Angular bluebird promises</h3>
              </div>
              <div class="panel-body">
                <p>Replace the default angular $q service with the bluebird promise library for enhanced promises within your angular app!</p>
                <div class="text-center">
                  <iframe src="https://ghbtns.com/github-btn.html?user=mattlewis92&repo=angular-bluebird-promises&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </div>
              </div>
              <div class="panel-footer text-center">
                <a href="https://github.com/mattlewis92/angular-bluebird-promises"
                   target="_blank"
                   class="btn btn-sm btn-success">
                  View on GitHub <i class="fa fa-external-link"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Angular bootstrap confirm</h3>
              </div>
              <div class="panel-body">
                <p>Displays a highly configurable bootstrap confirmation popover on any element (with no jQuery or bootstrap JS!)</p>
                <div class="text-center">
                  <iframe src="https://ghbtns.com/github-btn.html?user=mattlewis92&repo=angular-bootstrap-confirm&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
                </div>
              </div>
              <div class="panel-footer text-center">
                <a href="https://github.com/mattlewis92/angular-bootstrap-confirm"
                   target="_blank"
                   class="btn btn-sm btn-success">
                  View on GitHub <i class="fa fa-external-link"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="mobileapps" class="bg-success">
      <div class="container">
        <h2><i class="fa fa-mobile"></i> Mobile apps</h2>
        <p>A couple of the most recent apps I've built using the awesome <a href="http://ionicframework.com/" target="_blank" class="text-primary"><strong>Ionic framework</strong></a>.</p>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">SocialSignIn</h3>
              </div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <img
                      src="img/socialsignin.png"
                      width="100"
                      class="media-object">
                  </div>
                  <div class="media-body">
                    <p>The SocialSignIn app allows you to schedule and manage posts for all your social networks as well as view your unified social inbox.</p>
                  </div>
                </div>
              </div>
              <div class="panel-footer text-center">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <a href="https://itunes.apple.com/gb/app/socialsignin/id564011085" target="_blank">
                      <img src="img/apple-appstore-badge.png" class="img-responsive">
                    </a>
                  </div>
                  <div class=" col-xs-6 col-sm-4 col-sm-offset-2">
                    <a href="https://play.google.com/store/apps/details?id=uk.co.socialsignin" target="_blank">
                      <img src="img/google-playstore-badge.png" class="img-responsive">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">MiResource</h3>
              </div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-left">
                    <img
                      src="img/miresource.png"
                      width="100"
                      class="media-object">
                  </div>
                  <div class="media-body">
                    <p>This is the official app for the Resource Event, taking place on 3-5 March 2015 at ExCel, London.</p>
                  </div>
                </div>
              </div>
              <div class="panel-footer text-center">
                <div class="row">
                  <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                    <a href="https://itunes.apple.com/us/app/id968397450" target="_blank">
                      <img src="img/apple-appstore-badge.png" class="img-responsive">
                    </a>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                    <a href="https://play.google.com/store/apps/details?id=com.iwazat.miresource" target="_blank">
                      <img src="img/google-playstore-badge.png" class="img-responsive">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" ng-controller="ContactFormCtrl as $ctrl" ng-cloak>
      <div class="container" ng-form name="contactForm">
        <h2><i class="fa fa-pencil-square-o"></i> Contact me</h2>
        <div ng-hide="$ctrl.submitted">
          <p>For support with my open source projects, please use StackOverflow or file an issue on Github. Thanks!</p>
          <uib-alert type="danger" ng-show="$ctrl.error">
            <i class="fa fa-exclamation-circle"></i>
            Oops, it looks like something's gone wrong: {{ $ctrl.error.message }}
          </uib-alert>
          <div class="row">
            <div
              class="col-md-6"
              ng-class="{'has-error': contactForm.name.$invalid && contactForm.name.$dirty}">
              <input
                type="text"
                name="name"
                class="form-control input-lg"
                placeholder="Your name"
                required
                ng-model="$ctrl.form.name">
              <br>
            </div>
            <div
              class="col-md-6"
              ng-class="{'has-error': contactForm.email.$invalid && contactForm.email.$dirty}">
              <input
                type="email"
                name="email"
                class="form-control input-lg"
                placeholder="Your email address"
                required
                ng-model="$ctrl.form.email"
                ng-model-options="{debounce: 500}">
              <br>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-12"
              ng-class="{'has-error': contactForm.message.$invalid && contactForm.message.$dirty}">
            <textarea
              class="form-control input-lg"
              name="message"
              placeholder="Your message"
              required
              ng-model="$ctrl.form.message">
            </textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button
                type="button"
                class="btn btn-success btn-block btn-lg"
                ng-disabled="!contactForm.$valid || $ctrl.loading"
                ng-click="$ctrl.submit()">
                <i class="fa fa-spin fa-spinner" ng-show="$ctrl.loading"></i> Send
              </button>
            </div>
          </div>
          <br>
        </div>
        <uib-alert type="info" ng-show="$ctrl.submitted">
          <i class="fa fa-check"></i> Thanks for contacting me, I'll get back to you as soon as possible!
        </uib-alert>
      </div>
    </section>
    <section id="tweets" class="bg-success" ng-controller="TweetsCtrl as $ctrl" ng-cloak>
      <div class="container">
        <h2><i class="fa fa-twitter"></i> Latest Tweets</h2>
        <uib-alert type="danger" ng-if="$ctrl.error">
          <i class="fa fa-exclamation-circle"></i>
          Oops, it looks like something went wrong whilst trying to load the tweets. Why not check out my <a href="https://twitter.com/mattlewis92_" target="_blank">Twitter feed</a> directly?
        </uib-alert>
        <div ng-if="$ctrl.loading" class="text-center">
          <i class="fa fa-spinner fa-spin fa-4x"></i>
          <h2>Loading...</h2>
          <br>
        </div>
        <div class="list-group" ng-if="$ctrl.tweets.length > 0">
          <a
            ng-repeat="tweet in $ctrl.tweets | limitTo:15 track by tweet.id_str"
            ng-href="https://twitter.com/{{ tweet.retweeted_status.user.screen_name || tweet.user.screen_name }}/status/{{ tweet.retweeted_status.id_str || tweet.id_str }}"
            target="_blank"
            class="list-group-item">
            <div class="media">
              <div class="media-left">
                <img class="img-rounded" ng-src="{{ tweet.retweeted_status.user.profile_image_url_https || tweet.user.profile_image_url_https }}">
              </div>
              <div class="media-body">
                <h4 class="list-group-item-heading">
                  {{ tweet.retweeted_status.user.name || tweet.user.name }}
                  <small class="pull-right">{{ tweet.created_at | date:'MMM d' }}</small>
                  <small class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline spacer-top">
                    @{{ tweet.retweeted_status.user.screen_name || tweet.user.screen_name }}
                  </small>
                </h4>
                <p class="list-group-item-text">
                  <i class="fa fa-retweet" ng-show="tweet.retweeted_status" uib-tooltip="This was retweeted by Matt"></i>
                  <span ng-bind-html="(tweet.retweeted_status.text || tweet.text) | linky:'_blank' | nl2br"></span>
                </p>
              </div>
            </div>
          </a>
          <a href="https://twitter.com/mattlewis92_" target="_blank" class="list-group-item text-center">
            <h4 class="list-group-item-heading spacer-top">View all on Twitter <i class="fa fa-external-link"></i></h4>
          </a>
        </div>
      </div>
    </section>
    <footer class="text-center">
      Website source available <a href="https://github.com/mattlewis92/api.mattlewis.me" target="_blank">here</a> and <a href="https://github.com/mattlewis92/mattlewis.me" target="_blank">here</a> |
      Powered by <a href="https://pages.github.com/" target="_blank">GitHub pages</a>, <a href="https://heroku.com/" target="_blank">Heroku</a> and <a href="https://www.cloudflare.com/" target="_blank">Cloudflare</a>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="script.js"></script>

  </body>
</html>
